<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <style>
        td, th {
            border: solid red;
        }
    </style>
    
</head>


<body>

    <h1>My Page</h1>
    <h2>Yup!!</h2>
    <img src="https://miro.medium.com/max/3840/1*0ubYRV_WNR9iYrzUAVINHw.jpeg" width="200px" height="200px" />
    <p>This is a caption for our wonderful overlord deadpool!!</p>
    <!-- See how we can change the boder into red later -->
    <table >
        <thead>
            <tr>
                <th>Morning</th>
                <th>Evenings</th>
                <th>Nights</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> wake up</td>
                <td> wake up again</td>
                <td> finally</td>
            </tr>
            <td>eat,excersise,watch tv at the same time</td>
            <td>still waking up</td>
            <td> on with my day</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>sleep</td>
                <td>never mind</td>
                <td>sleep</td>
            </tr>
        </tfoot>
    </table>
    <br>
    no copyright


</body>

</html>