index_form_2

<html>

<h1>Register Page</h1>
<form>
    <br>
    <label for="First name">First name</label>
    <input id="First Name" type="text" name="Enter your First name" required />
    <br>
    <label for="Last Name">last name</label>
    <input id="last name" type="text" name="Enter your last Name" required />
    <br>

    <label for="Email">Email</label>
    <input id="Email" type="text" name="Enter your email" required />

    <br>
    <label for="Password">Password</label>
    <input id="Password" type="text" name="Enter your password" required />

    <br>
    <label for="Confirm Password">Confirm Password</label>
    <input id="Confirm Password" type="text" name="Enter your password" required />
    

    <br>
    
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label>

    <br>
    <label for="Date of Birth">Date of Birth</label>
    <input type="text" id="fname" name="fname" value="mm/dd/yyyy">

    <br>
    <label for="Habits">Habits</label>
    <input type="checkbox" id="sports" name="You like sports" value="sports">
    <label for="sports"> You like sports</label>
    <input type="checkbox" id="eat" name="You like to eat" value="eat">
    <label for="eat"> You like to eat</label>
    <input type="checkbox" id="sleep" name="You like to sleep" value="sleep">
    <label for="sleep"> You like to sleep</label>
    <br>
    <button type="button" onclick="alert('Hello world!')">Register</button>
</form>

</html>