<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="A page for exploring basic HTML documents">
    <title>Basic HTML document</title>
    </head>
    <body>
        <h1><b>This is Front Page Content</b></h1>
        <h2><i>I am new to HTML that's why I have no idea what to say</i></h2>
        <p>The main page content appears inside the body tag.</p> 
    <div>
        <i>Contains several elements that allow you to properly structure and format your content, which we'll cover later.</i> 
    </div>
    </body>
</html>