<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="A page for exploring basic HTML documents">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>Basic HTML document</title>

    <link href="./css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./js/header-functions.js"></script>
</head>

<body>
    <p>Page>Page content The main page content appears inside the body tag. HTML contains several elements that allow you to properly structure and format your content, which we'll cover later.</p>
</body>

</html>