<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Excercises">
    <title>Exercises</title>
    <style>
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    </head>
    <body>
       <div>
        <a href="#">Logo HERE</a>
           <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
            <li><a href="#">Personal Projects</a></li>
            <li><a href="#">Contact</a></li>
           </ul>
       </div>
       <div>
           <Strong>My Page</Strong>
           <br/><br/><Strong>Yup!!</Strong>
           <br/></rr><span>Some text goes here</span>
           <img src="https://www.istockphoto.com/photo/3d-wired-shape-cyborg-head-gm1141842182-306067001?utm_source=pixabay&utm_medium=affiliate&utm_campaign=ADP_photo_sponsored&referrer_url=https%3A%2F%2Fpixabay.com%2Fphotos%2Fartificial-intelligence-robot-ai-ki-2167835%2F" alt="picture" width="500" height="600">
           <table>
               <tr>
                   <th>Morning</th>
                   <th>Evenings</th>
                   <th>Nights</th>
               </tr>
               <tr>
                    <td>Wake up</td>
                    <td>Wake up again</td>
                    <td>Finally</td>
                </tr>
                <tr>
                    <td>Eat, exercises, Watch TV at the same time</td>
                    <td>Still waking Up</td>
                    <td>On mith my day</td>
                </tr>
                <tr>
                    <td>Sleep</td>
                    <td>Never Mind</td>
                    <td>Sleep</td>
                </tr>
           </table>
           <span>No Copy Rights</span>
       </div>
    </body>
</html>