<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Excercises">
    <title>Exercises</title>
    </head>
    <body>
       <div>
        <a href="#">Logo HERE</a>
           <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Partenrs</a></li>
                <li><a href="#">Our People</a></li>
            </ul>
            <li><a href="#">Personal Projects</a></li>
            <li><a href="#">Contact</a></li>
           </ul>
       </div>
    </body>
</html>