<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Excercises">
    <title>Exercises</title>
    <style>
        td, th {
            border: 1px solid red;
            text-align: left;
            padding: 8px;
        }
    </style>
    </head>
    <body>
       <div>
        <a href="#">Logo HERE</a>
           <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
            <li><a href="#">Personal Projects</a></li>
            <li><a href="#">Contact</a></li>
           </ul>
       </div>
       <div>
           <Strong>My Page</Strong>
           <br/><br/><Strong>Yup!!</Strong>
           <br/></rr><span>Some text goes here</span>
           <img src="http://digitalspyuk.cdnds.net/17/02/980x490/landscape-1484222978-deadpool.jpg" witdh="300px" height="200px">
           <table>
               <tr>
                   <th>Morning</th>
                   <th>Evenings</th>
                   <th>Nights</th>
               </tr>
               <tr>
                    <td>Wake up</td>
                    <td>Wake up again</td>
                    <td>Finally</td>
                </tr>
                <tr>
                    <td>Eat, exercises, Watch TV at the same time</td>
                    <td>Still waking Up</td>
                    <td>On mith my day</td>
                </tr>
                <tr>
                    <td>Sleep</td>
                    <td>Never Mind</td>
                    <td>Sleep</td>
                </tr>
           </table>
           <span>No Copy Rights</span>
       </div>
    </body>
</html>