<!DOCTYPE HTML>
    <head>
    <title>Exercise 1</title>
    <style>
        table, th, td{border: 1px solid red}
    </style>
    <a href = " ">Logo HERE</a>

    <ul>
        <li><a href=" ">Home</a></li>
        <li><a href=" ">About</a></li>
        <ul>
            <li><a href=" ">Company</a></li>
            <li><a href=" ">Partners</a></li>
            <li><a href=" ">Our People</a></li>
        </ul>
        <li><a href=" ">Personal Projects</a></li>
        <li><a href=" ">Contact</a></li>

    </ul>

    <h1>My Page</h1>
    <h3>Yup!!</h3>
    <img src="https://i.pinimg.com/236x/28/38/e6/2838e646f8362d763ea8d361649d2677.jpg">
    <table>
        <thead>
            <th>Morning</th>
            <th>Evenings</th>
            <th>Nights</th>
        </thead>
        <tr>
            <td>Wake Up</td>
            <td>Wake Up Again</td>
            <td>Finally</td>
        </tr>
        <tr>
            <td>Eat, exercise, Watch TV at the same time</td>
            <td>Still Waking Up</td>
            <td>On with my day</td>
        </tr>
        <tr>
            <td>Sleep</td>
            <td>Never Mind</td>
            <td>Sleep</td>
        </tr>
    </table>