<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    
    </head>
    <body>
        <div style="background-color: red; width: 200px; height: 300px; margin: 0px 0px 50px 0px; border-color: green; border-width: 3px; border-style: solid;">
            <div style="background-color: blue; width: 100px; height: 100px; margin: 10px 50px 10px 50px; padding: 10px 10px 20px 0px;
                border-color: black; border-width: 3px; border-style: solid;">
                inner div 1
            </div>

            <div style="background-color: white; width: 130px; height: 100px; margin: 10px 50px 10px 50px">
                inner div 2
            </div>

        </div>

        <div style="background-color: red; width: 200px; height: 300px; margin-left: 5%;">
            <div style="background-color: blue; width: 100px; height: 100px;">
                inner div 1
            </div>

            <div style="background-color: white; width: 100px; height: 100px">
                inner div 2
            </div>

        </div>
    </body>
</html>