<html>
    <header>
        <style>
            table, th, tr, td
            {
                border: 1px solid crimson;
            }
        </style>
        <a href="#">Logon Here</a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Our People</a></li>
                    </ul>
                <li><a href="#">Personal Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>THE DREAM!</h1>
        <h2>Woop!!!</h2>
        <img src="https://pbs.twimg.com/media/DzKt3nqUcAARcOe?format=jpg&name=small"/>
        <p><strong>The Dreamcast did not deserve it's fate!!! RIP 1998-2001</strong></p>
        <table>
            <tr>
                <th>Title</th>
                <th>Initial Release Date</th>
                <th>Region</th>
            </tr>
            <tr>
                <td>Shenmue</td>
                <td>12/29/1999</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>Sonic Adventure</td>
                <td>12/23/1998</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>Phantasy Star Online</td>
                <td>12/21/2000</td>
                <td>Japan</td>
            </tr>
        </table>
        <p><b>Do not copy. OC webpage</b></p>
    </body>
</html>