<!DOCTYPE HTML>
    
    <title>Login Page</title>
    <h1>Login Page</h1>
    <form>
        <br /><label for="email"><b>Email</b></label>
        <input id="email" type="email" placeholder = "Enter Your Email" name="email" />
        <br>
        <br /><label for="pass"><b>Password</b></label>
        <input id="pass" type="password" placeholder ="Enter Your Password" name="p" />
    </br>

       <br> 
       <input id="Login" type="submit" name="Login" value="Login" />
    </br>
        </form>

        
    </form>
   