<!DOCTYPE html>
<html>
<a><h3>Logo Here</h3></a>
<br />
<ul>
    <a>
        <li>Home</li>
    </a>
    <a>
        <li>About</li>
    </a>
    <a>
        <li>Personal Projects</li>
    </a>
    <a>
        <li>Contracts</li>
    </a>

    <img
        src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.ytimg.com%2Fvi%2FBgIJ45HKDpw%2Fmaxresdefault.jpg&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DBgIJ45HKDpw&tbnid=lSs5_XuPONTujM&vet=12ahUKEwj05MOGkpbqAhXRhlMKHVkvA2gQMygBegUIARDWAQ..i&docid=RpoALfMMGf6tRM&w=1280&h=720&q=scenery&ved=2ahUKEwj05MOGkpbqAhXRhlMKHVkvA2gQMygBegUIARDWAQ"/>

    <table>
        <thead>
            <tr>
                <th>Plant Type</th>
                <th>Plant Color</th>
                <th>Plant Care</th>
            </tr>
        </thead>
        <tbody>
            <td>root</td>
            <td>red</td>
            <td>fertilize once a week until starts producing</td>
        </tbody>
    </table>

</html>