<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="utf-8">

</head>

<main id = "main">
    <h1 id = "title" class = "headers"> Kobe Bryant </h1>
    <h2 id = "nickname" class = "headers"> The Black Mamba </h2>
    
    <div id = "img-div" >
    <img id = "image" height = 100px width = 100px src = "https://ca-times.brightspotcdn.com/dims4/default/ef608ec/2147483647/strip/true/crop/2048x1374+0+0/resize/1486x997!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F00%2F13%2Feb3c74ca50c9e53df38061b06dfe%2Fla-xpm-photo-2013-dec-19-la-sp-ln-kobe-bryant-lakers-teammates-20131219"
         alt = "Kobe Bryant">
      <figcaption id = "img-caption"> RIP Kobe, you will be missed </figcaption>
    </div>
    
    <div id = "tribute-info">
      <p> <a id = "tribute-link" href = "https://nbafamily.fandom.com/wiki/Kobe_Bryant" target = "_blank">Kobe Bean Bryant</a> (August 23, 1978 – January 26, 2020) was an American professional basketball player. A shooting guard, Bryant entered the National Basketball Association (NBA) directly from high school, and played his entire 20-season professional career in the league with the Los Angeles Lakers. Bryant won five NBA championships, was an 18-time All-Star, 15-time member of the All-NBA Team, 12-time member of the All-Defensive Team, was named the 2008 NBA Most Valuable Player (MVP), and was a two-time NBA Finals MVP winner. Widely regarded as one of the greatest players of all time, he led the NBA in scoring during two seasons, ranks fourth on the league's all-time regular season scoring, and ranks fourth on the all-time postseason scoring list.
      </p>
    </div>
    
    <div id = "Career-Accolades">
      <h3> Career Accolades </h3>
      <ul>
        <li> 5× NBA champion (2000–2002, 2009–2010) </li>
        <li> 2× NBA Finals MVP (2009–2010) </li>
        <li> NBA Most Valuable Player (2008) </li>
        <li> 15× NBA All-Star (1998, 2000–2013) </li>
        <li> 4× NBA All-Star Game MVP (2002, 2007, 2009, 2011) </li>
        <li> 2× NBA scoring champion (2006–2007) </li>
        <li> 11× All-NBA First Team (2002–2004, 2006–2013) </li>
        <li> 2× NBA scoring champion (2006–2007) </li>
        <li> 2× All-NBA Second Team (2000–2001) </li>
        <li> 2× All-NBA Third Team (1999, 2005) </li>
        <li> 9× NBA All-Defensive First Team (2000, 2003–2004, 2006–2011</li>
        <li> 3× NBA All-Defensive Second Team (2001–2002, 2012) </li>
        <li> NBA All-Rookie Second Team (1997) </li>
        <li> NBA Slam Dunk Contest champion (1997) </li>
      </ul>
    </div>
    
    <div id = "highlights">
      <h3> Career Highlights </h3>
      <iframe width="956" height="538" src="https://www.youtube.com/embed/BaTd_F2yIrU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    
  
  </main>