<html>
    <body>
        <h1>Register Page</h1>
        <form>
            <label id="Firstname">First Name</label>
            <input id="Firstname" type="text" placeholder="Enter your first name"/>
            <br>
            <label id="Lastname">Last Name</label>
            <input id="Lastname" type="text" placeholder="Enter your last name"/>
            <br>
            <label id="E-mail">Email</label>
            <input id="E-mail" type="email" placeholder="Enter your email"/>
            <br>
            <label id="Password">Password</label>
            <input id="Password" type="text" placeholder="Enter your password"/>
            <br>
            <label id="ConPassword">Confirm Password</label>
            <input id="ConPassword" type="text" placeholder="Confirm your password"/>
            <br>
            <label id="Sex">Gender</label>
            <input id="Sex" type="radio" name="sex">Male</input>
            <input id="Sex" type="radio" name="sex">Female</input>
            <br>
            <label id="DOB">Date of Birth</label>
            <input id="DOB" type="date"/>
            <br>
            <label id="Habit">Habits</label>
            <input id="Habit" type="checkbox">You like games</input>
            <input id="Habit" type="checkbox">You like to eat</input>
            <input id="Habit" type="checkbox">You like to sleep</input>
            <br>
            <input name="submit" type="submit" value="Register"/>
        </form>
    </body>
</html>