<html>

<head>
    <title>Syntax Page | Per Scholas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./js/header-functions.js"></script>
</head>

<body>
    <p>
        <h2>HTML uses tags to identify page content.
            <br /> This text, for example, is a paragraph.</h2>
    </p>

</body>

</html>